@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
html, body {
  font-family: "Noto+Sans+KR", sans-serif;
  overflow-x: hidden;
  height: 100%;
}

ul,ol,li{list-style: none;}

/* body {
  min-width: 1920px;
} */

#wrap {
  width: 100%;
  background-color: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.theme-header-inner {
  /* width: 100%; */
  min-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.theme-content-inner{min-width: 1180px;}

.theme-header {
  width: 100%;
  background-color: #1c1c1c;
  padding: 15px;
  position: relative;
}

.theme-header::after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  bottom: -2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#9b4a0b), color-stop(11%, #dba22d), color-stop(32%, #f5d657), color-stop(37%, #ffff9c), color-stop(43%, #fff), color-stop(44%, #ffffde), color-stop(46%, #ffffa6), color-stop(46%, #ffff90), color-stop(51%, #f7e773), color-stop(57%, #f0cf57), color-stop(62%, #ecc146), color-stop(66%, #ebbc40), color-stop(72%, #e1ad37), color-stop(82%, #d39529), color-stop(83%, #d29328), to(#c67f1e));
  background-image: linear-gradient(to right, #9b4a0b, #dba22d 11%, #f5d657 32%, #ffff9c 37%, #fff 43%, #ffffde 44%, #ffffa6 46%, #ffff90 46%, #f7e773 51%, #f0cf57 57%, #ecc146 62%, #ebbc40 66%, #e1ad37 72%, #d39529 82%, #d29328 83%, #c67f1e 100%);
  left: -15px;
  right: -15px;
  z-index: 100;
}

.theme-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.theme-logo {
  display: block;
  margin: 0;
}

.theme-logo img {
  width: 126px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-menu-list {
  list-style: none;
  padding: 0;
  margin: 0 -22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-item {
  padding: 0 22px;
}

.header-menu-link {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  line-height: 1.47;
  letter-spacing: normal;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.header-menu-link:hover {
  text-decoration: none;
  color: #fff;
}

.header-menu-link.new::after {
  content: '';
  display: block;
  position: absolute;
  right: -7px;
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background-color: #f24b3e;
  top: 0;
}

.header-menu-user-name {
  color: #daa12d;
}

.theme-content-inner {
  padding: 25px 15px;
}

.main-visual-slide {
  height: 653px;
  position: relative;
}

.main-visual-slide-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 40px;
  text-align: center;
  display: block;
  z-index: 10;
}

.main-visual-slide-bottom-line-text {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
}

.main-visual-slide-wrap {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

.main-visual-slide-wrap .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.main-visual-slide-wrap .swiper-pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #b7b7b7;
  opacity: 1;
  margin: 0 5px !important;
}

.main-visual-slide-wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #daa12d;
}


.product-list {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.product-item {
  padding: 0 15px;
  width: 33.333%;
}

.product-link {
  display: block;
  text-decoration: none;
  background-color: #1c1c1c;
}

.product-link:hover {
  text-decoration: none;
}

.product-img {
  width: 100%;
  padding-top: 86%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-name {
  display: block;
  padding: 28px;
  text-align: center;
  font-size: 18px;
  color: #f7f7f7;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: -0.54px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chatting-list-wrap {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #1c1c1c;
}

.chatting-list-head {
  display: block;
  width: 100%;
  padding: 10px 24px;
  font-size: 13px;
  color: #fff;
  font-weight: 800;
  line-height: 1.46;
  letter-spacing: -0.39px;
  background-color: #daa12d;
}

.live-chatting-box {
  padding: 9px 8px;
}

.live-chatting-link {
  border-radius: 7px;
  border: solid 1px #323232;
  background-color: #1c1c1c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  display: block;
}

.live-chatting-link:hover {
  text-decoration: none;
  color: #fff;
}

.live-chatting-list-wrap {
  padding: 17px;
  overflow: hidden;
  overflow-y: auto;
  height: 307px;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 20px;
  /* width */
  /* Track */
  /* Handle */
}

.live-chatting-list-wrap::-webkit-scrollbar {
  width: 3px;
}

.live-chatting-list-wrap::-webkit-scrollbar-track {
  background: #707070;
  border-radius: 100px;
}

.live-chatting-list-wrap::-webkit-scrollbar-thumb {
  background: #f3f3f3;
  border-radius: 100px;
}

.live-chatting-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.live-chatting-item {
  margin-bottom: 6px;
}

.live-chatting-item:last-child {
  margin-bottom: 0;
}

.chatting-user-name {
  font-size: 12px;
  color: #fff;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: normal;
  display: block;
  margin-bottom: 2px;
}

.chatting-content-box {
  position: relative;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #363636;
}

.chatting-content-box::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -12px;
  border-left: 15px solid #363636;
  border-top: 0px solid transparent;
  border-bottom: 17px solid transparent;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.chatting-content-text {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5;
  letter-spacing: normal;
  display: block;
  word-break: break-all;
}

.chatting-time {
  margin-left: 8px;
  display: block;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  line-height: 1.44;
  letter-spacing: normal;
}

.chatting-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 15px;
}

.live-chatting-input-box {
  width: 100%;
  border-top: solid 1px #2e2e2e;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatting-export-btn {
  background-color: #daa12d;
  border-radius: 10px;
  padding: 8px 14px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.chatting-export-btn:focus, .chatting-export-btn:active {
  outline: none;
}

.chatting-input {
  border: 0;
  display: block;
  background-color: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.chatting-input:active, .chatting-input:focus {
  outline: none;
}

/* 1:1문의 영역 */
.live-chatting-wrap{width: 370px; padding: 20px 20px 70px 20px;
  border-radius: 5px; border: 1px solid #D9A02C; box-shadow: 0 -5px 14px rgba(217, 160, 44, 0.19);
  position: fixed; right: 20px; bottom: 30px; z-index: 100;
  background-color: #1c1c1c;
  overflow: hidden;
  display: none;
}
.live-chatting-wrap.on{
  display: block;
}
/* 1:1문의 프로필 이미지 */
.chatting-profile{display: flex; display: -ms-flexbox;
  align-items: center;
}
.live-chatting-wrap figure{display: flex; display: -ms-flexbox; width: 40px; height: 40px;
  align-items: center; -ms-flex-item-align: center; justify-content: center; -ms-flex-pack: center;
  border-radius: 100%;
  background-color: #2B2B2B;
  position: relative;
}
/* 1:1문의 상단 */
.live-chatting-top{position: relative; padding-bottom: 15px; margin-bottom: 15px;
  border-bottom: 1px solid #666666;
}
.chatting-profile figure{margin: 0 15px 0 0;}
.chatting-profile.on figure::after {content: ""; 
  width: 13px;
  height: 13px;
  border-radius: 100%; border: 3px solid #1C1C1C;
  position: absolute; right: 0; bottom: 0;
  background-color: #4ECD00;
}
.chatting-profile.off{}
.chatting-profile div{}

/* 1:1문의 상단 상단 이름 */
.chatting-profile strong{color: #D9A02C; font-size: 16px;}
/* 1:1문의 상단 상단 활동 */
.chatting-profile p{font-size: 12px; margin-bottom: 0;}
.chatting-profile p{color: #888888;}
.chatting-profile p.on{color: #4ECD00;
  line-height: 1;
}
/* 1:1문의 닫기 */
.live-chatting-top .exit{display: block; width: 15px; height: 15px;
  position: absolute; right: 0; top: 0;
  text-indent: -9999px; font-size: 0;
  background: url(../img/exit.png) no-repeat center/ 15px;
}

.live-chatting-top .exit::before{
  width: 13px;
  height: 1px;
  transform: rotate(45deg);
}

.hidden{display: none;}

/* 1:1문의 관리자1,2,3 */
.chatting-admin{display: flex; display: -ms-flexbox; width: 100%; padding-left: 0; margin-bottom: 0;
  border-bottom: 1px solid #666;
  text-align: center;

}
.chatting-admin li{width: 25%; color: #666666; position: relative; font-weight: 500; line-height: 30px; height: 30px;
  font-size: 14px;
}
.chatting-admin li.on{color: #D9A02C; 
  border-top: 1px solid #D9A02C; border-left: 1px solid #D9A02C; border-right: 1px solid #D9A02C;
}
.chatting-admin li.on::after{content: ""; position: absolute; left: 0; bottom: -1px; width: 100%; height: 1px;
  background-color: #1c1c1c;
}

/* 1:1문의 내용 */
.live-chatting-list{height: 450px; overflow: hidden; overflow-y: auto;}
.live-chatting-list::-webkit-scrollbar {
  display: none;
}

/* 1:1문의 내용 박스 */
.live-chatting-list li{display: flex; display: -ms-flexbox; align-items: flex-end; margin-bottom: 25px;}
.live-chatting-list li.chat-admin{justify-content: flex-start;}
.live-chatting-list li.chat-user{justify-content: flex-end;}
.live-chatting-list figure{margin-right: 10px;}

/* 실시간 문의 내용 */
.live-chatting p{padding: 8px 12px; position: relative;
  border-radius: 5px; background-color: #2B2B2B; color: #fff; font-size: 14px; line-height: 20px; font-weight: 400;
  margin-bottom: 5px;
}
/* 실시간 문의 감싸기 영역 */
.live-chatting div{display: inline;}
.live-chatting p::after{content: ""; position: absolute; width: 5px; height: 5px; bottom: 0;
  background-color: #D9A02C;
  border-radius: 100%;
}
/* 실시간 문의 시간 노출되는 영역 */
.live-chatting .last p{margin-bottom: 0;}
.live-chatting .last p::after{bottom: 20px}
.live-chatting span{color: #aaa; font-size: 12px; display: block; margin-bottom: 4px}
.live-chatting div{display: flex; align-items: flex-end;}
.live-chatting-list li.chat-user .last{flex-direction: row-reverse;}
.live-chatting .last p{width: calc(100% - 58px);}
.live-chatting .last em{display: block; color: #666; width: 53px;
  font-size: 12px; font-style: normal;
}

.live-chatting-list li.chat-admin .live-chatting>div{justify-content: flex-start;}
.live-chatting-list li.chat-user .live-chatting>div{justify-content: flex-end;
  position: relative;
}
.live-chatting-list li.chat-admin .last em{margin-left: 5px;}
.live-chatting-list li.chat-user .last em{margin-right: 5px;
  text-align: right;
}
.live-chatting-list li.chat-admin .live-chatting p::after{right: -10px;}
.live-chatting-list li.chat-user .live-chatting p::after{left: -10px;}

/* 1:1문의 하단 입력 */
.live-chatting-write{position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0);
  display: flex; width: 100%; padding: 10px 10px;
  background-color: #2B2B2B;
  align-items: center;
}

.live-chatting-write figure{margin-right: 10px; margin-bottom: 0; background-color: #1C1C1C;}
.live-chatting-write figure a{display: inherit;}
.live-chatting-write input{height: 40px; width: calc(100% - 50px); padding-left: 15px;
  border-radius: 5px;
  background-color: #CCCCCC;
  border: 0;
  font-size: 14px;
  outline: none;
}
input::-webkit-input-placeholder {
  color: #1c1c1c;
}
input:-ms-input-placeholder {
  color: #1c1c1c;
}

/* -------------------------------------1:1문의 끝------------------------------------- */

/* -------------------------------------admin Chat 시작------------------------------------- */
.heigh100vh{
  height: 100vh;
  overflow: hidden;
}
.hidden{
  display: none!important;
}
.pd-none{
  padding: 0!important;
}
.chat-side-bar{
  background-color: #1C1C1C;
  height: 100%;
  padding: 30px;
}
.side-bar-top{
  position: relative;
  margin-bottom: 20px;
}
.side-bar-top h2{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
.search-wrap{
  position: relative;
}
.search-wrap input{
  width: 100%;
  display: inline-block;
  border: 1px solid #D9A02C;
  outline:none;
  padding: 0 12px;
  color: #fff;
  font-size: 14px;
  height: 35px;
  background-color: transparent;
}
.search-wrap input::placeholder{
  color: #aaa;
}
.search-wrap .icon-search {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.search-wrap .icon-search img{
  max-height: 24px;
}
.side-bar-lists{
  padding: 0;
  margin: 0;
  overflow-x: auto;
  overflow: auto;
  height: 100vh;
  padding-bottom: 100%;
}
.side-bar-list{
  padding: 10px 12px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  height: 85px;
  align-items: center;
  border-bottom: 1px solid #2B2B2B;
}
.side-bar-list.on{
  background-color: #D9A02C;
}
.img-user{
  margin: 0;
  position: relative;
}
.img-user.on::after{ 
  content: "";
  width: 13px;height: 13px;
  border: 2.5px solid #1C1C1C;
  border-radius: 50%;
  position: absolute;
  right: 0;bottom: 0;
  background-color: #4ECD00;
}
.side-bar-list.on .img-user.on::after{
  border-color: #D9A02C;
}
.side-bar-list .img-user img{
  max-height: 50px;
}
.side-bar-list dl{
  margin-left: 15px;
  margin-bottom: 0;
  color: #fff;
  width: 100%;
  overflow: hidden;
}
.side-bar-list .user-name{
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding-right: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.side-bar-list .user-chat-summary{
  font-size: 14px;
  position: relative;
  padding-right: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
}
.side-bar-list .chat-number{
  font-size: 12px;
  width: 20px;height: 20px;
  text-align: center;
  display: inline-block;
  line-height: 20px;
  background-color: #F24B3E;
  border-radius: 50%;
  position: absolute;
  right: 0; top: 0;
}
.side-bar-list .user-chat-time{
  font-size: 12px;
  position: absolute;
  right: 12px; top: 23px;
}
.flex-start{
  justify-content: flex-start!important;
}
.col-100{
  width: 100%;
  flex: 1;
}
.chat-main-wrap{
  position: relative;
  height: 100vh;
  overflow: scroll;

}
.visible-none{
  visibility: hidden;
}
.chat-main-top{
  padding: 15px 30px 15px 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #1C1C1C;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 15;
}
.chat-main-top .img-user{
  position: relative;
}
.chat-main-top .img-user::after{
  width: 16px;
  height: 16px;
  border: 3.5px solid #2B2B2B
}
.chat-main-top img{
  max-height: 50px;
}
.chat-main-top dl{
  margin-bottom: 0;
}
.chat-main-top .user-name{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
  line-height: 1;
}
.chat-main-top .user-status{
  font-size: 12px;
  color: #aaa;
  line-height: 1;
  font-weight: 400;
}
.chat-main-top .search-wrap{
  cursor: pointer;
}
.chat-main-top .search-wrap img{
  transition: all 0.3s;
}
.chat-main-top .search-wrap input{
  width: 0;
  padding: 0;
  border: 0;
  transition: all 0.3s;
}
.chat-main-top .search-wrap input::placeholder{
  opacity: 0;
  transition: all 0.3s;
}
.chat-main-top .search-wrap.on input{
  width: 250px;
  border: 1px solid #D9A02C;
  padding: 0 12px;
}
.chat-main-top .search-wrap.on input::placeholder{
  opacity: 1;
}
.chat-main-top .search-wrap{
  position: relative;
}
.chat-main-top .user-status.on{
  color: #4ECD00;
}
.chat-top-icons{
  display: flex;
  padding: 0;margin: 0;
}
.chat-top-icon{
  position: relative;
}
.chat-top-icon figure{margin: 0;}
.chat-top-icon img{max-height: 30px!important;}
.more-open-lists{
  position: absolute;
  width: 152px;
  left: 0; top: 0;
  padding: 10px 0;
  background: #1C1C1C;
  display: none;
  z-index: 15;
}
.more-trigger .more-open{
  left: -110px;
  top: 100%;
}
.more-trigger:hover .more-open{display: block;}
.more-open-lists figure{
  margin-bottom: 0;
  margin-left: 0!important;
}
.more-open-lists .more-open-list{
    padding: 6px 20px;
    display: flex;
    font-size: 14px!important;
    align-items: center;
    color: #fff;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 0;
}
.more-open-list.red{
  color: #F24B3E;
}
.more-open-list:hover{
  background-color: #2B2B2B;
}
.more-open-list figure{
  margin-right: 10px!important;
}
.more-open-list img{
  max-height: 24px!important;
}
.more-open-list + .more-open-list{
  margin-top: 5px;
}
.chat-main-bottom{
  width: 100%;
  position: fixed;
  left: 0; bottom: 0;
  padding: 5px 50px;
  margin-left: 351px;
  width: calc(100% - 351px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2B2B2B;
  z-index: 15;
}
.chat-main-bottom>.chat-bottom-left{
  display: flex;
  align-items: center;
}
.chat-main-bottom figure{margin: 0;}
.chat-main-bottom input{
  height: 50px;
  padding: 0 20px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.chat-main-bottom input::placeholder{
  color: #fff;
}
.chat-main-bottom .upload-file img{
  max-height: 35px;
}
.chat-main-bottom .send-chat img{
  max-height: 40px;
}
.chat-main-bottom .more-open-lists{
  top: -85px;
  left: 50px;
  margin-bottom: 100px;
}
.chat-main-bottom .upload-file:hover .more-open-lists{
  display: block;
}

/* file */
.live-chatting .file .file-wrap{
  padding: 20px 12px 15px 15px;
  border-radius: 5px;
  max-width: 225px;
  background-color: #2B2B2B;

}
.live-chatting .file .file-content{
display: block;
position: relative;
}
.live-chatting .file-content::after{
content:"";
width: 40px;height: 40px;
background: url(/assets/img/icon-download.png) no-repeat center / 40px;
border-radius: 50%;
display: inline-block;
position: absolute;
right: 0; top: 0;
margin-left: 40px;
}
.live-chatting .file-content dt{
font-size: 14px;
color: #fff;
margin-bottom: 10px;
font-weight: 400;
line-height: 1.3;
overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
  word-break: break-all;
}
.live-chatting .file-content dd{
font-size: 12px;
color: #aaa;
margin-bottom: 0;
line-height: 1;
}
.live-chatting .file-content dd + dd{
margin-top: 3px;
}
.live-chatting .file-content .file-open{
margin-top: 10px;
display: flex;
align-items: center;
justify-content: flex-start;
}
.live-chatting .file-open span{
font-size: 14px; 
color: #fff;
text-decoration: underline;
cursor: pointer;
margin: 0;
}
.live-chatting .file-open span  + span{
margin-left: 10px!important;
}
.chat-content-wrap{
  padding: 0 50px 200px 50px;
  height: 180vh;
}
.chat-content-wrap .chatting-profile img{
  max-height: 40px;
}
.chat-content-wrap{
  margin-bottom: 90px;
}
.chat-content-wrap .live-chatting-list{
  height: 100%;
}
.chat-content-wrap .live-chatting>span{
  padding-right: 60px;
}
.chat-content-wrap .chat-user figure{
  margin-right: 10px;
  margin-left: 0!important;
}
.chat-content-wrap .chat-user .chatting-profile figure{
  margin-right: 0;
  margin-left: 10px!important;
}
.chat-content-wrap .chat-user{
  flex-direction: row-reverse;
  justify-content: flex-start!important;
}
.chat-content-wrap .chat-date{
  display: block;
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 20px 0;
}
.chat-content-wrap .chat-date span{
  font-size: 14px;
  color: #aaa;
  background-color: #2B2B2B;
  z-index: 10;
  position: relative;
  padding: 0 10px;
}
.chat-content-wrap .chat-date span.bar{
  width: 100%;
  height: 1px;
  background-color: #aaa;
  position: absolute; 
  left: 0; top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.chat-content-wrap .live-chatting {
  position: relative;
}
.chat-content-wrap .live-chatting p{
  background-color: #444444;
  font-size: 16px;
  padding: 12px 15px;
  max-width: 600px;
}
.chat-content-wrap .live-chatting .more-wrap{
  position: relative;

}
.chat-content-wrap .live-chatting .more-wrap figure{
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 10px;
}
.chat-content-wrap .chat-user .live-chatting  .more-wrap .more-chat{
  margin-right: 10px;
}
.chat-content-wrap .chat-user .live-chatting .more-wrap:hover .more-open-lists{
  left: -152px;
  top: 0;
}
.chat-content-wrap .live-chatting .more-wrap .more-chat img{
  max-height: 24px;
  transform: rotate(90deg);
}
.chat-content-wrap .live-chatting-list li.chat-user .live-chatting>div{
  width: auto;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.chat-content-wrap .live-chatting .more-wrap:hover .more-open-lists{
  display: block;
  top: 0;
  left: 100%;
  z-index: 5;
}

.chat-content-wrap .live-chatting .file .file-wrap{
  background-color: #444444;
  margin-left: 10px
}
.chat-content-wrap .chat-admin .live-chatting .file .file-wrap{
  margin-right: 10px; 
  margin-left: 0;
}
.chat-content-wrap .chat-user .live-chatting p,
.chat-content-wrap .chat-user .live-chatting .file .file-wrap{
  background-color: #D9A02C;
}
.chat-content-wrap .live-chatting .file .file-wrap{
  max-width: 300px;
}
.chat-content-wrap  .live-chatting .file .file-wrap dt{
  font-size: 16px;
}
.chat-content-wrap  .live-chatting .file .file-wrap dd{
  color: #fff;
  font-size: 14px;
}
.chat-content-wrap .live-chatting>span,
.chat-content-wrap .live-chatting .last>em{
  font-size: 14px;
  white-space: nowrap;
  margin-right: -3px!important;
}
.chat-content-wrap .chat-admin .live-chatting>span,
.chat-content-wrap .chat-admin .live-chatting .last>em{
  margin-left: -3px!important;
}
.chat-content-wrap .live-chatting-list li.chat-user .live-chatting p::after {
  left: -12px;
}
.chat-content-wrap li.chat-admin .live-chatting p{
  margin-right: 10px;
}
.chat-content-wrap li.chat-user .live-chatting p{
  margin-left: 10px;
}
.chat-content-wrap .live-chatting p::after{
  height: 7px;
  width: 7px;
  bottom: 5px!important;
  right: -12px!important;
}
.chat-content-wrap .live-chatting .last p::after{
  bottom: 25px!important;
  right: -12px!important;
}

/* -------------------------------------admin Chat 끝------------------------------------- */

.advertisement-video {
  width: 100%;
  margin-top: 18px;
  height: 158px;
  position: relative;
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  line-height: 158px;
}

.advertisement-video iframe {
  width: 100%;
  height: 100%;
}

.new-board-tab-wrap, .news-board-tab-wrap {
  padding: 20px 22px 29px;
  background-color: #1c1c1c;
  position: relative;
  margin-top: 18px;
}

.new-board-tab-list, .news-board-tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.new-board-tab-item, .news-board-tab-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
  padding: 0 12px 20px;
  font-size: 13px;
  color: #fff;
  line-height: 1.46;
  letter-spacing: -0.39px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
}

.new-board-tab-item.active::after, .news-board-tab-item.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #daa12d;
}

.new-board-tab, .news-board-tab {
  display: none;
  padding: 27px 0 0;
  overflow: hidden;
  overflow-y: auto;
}

.new-board-tab.on, .news-board-tab.on {
  display: block;
}

.board-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.board-link {
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: 13px;
}

.board-link::before {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: 5px;
}

.board-link:hover {
  text-decoration: none;
}

.board-item-title {
  font-size: 12px;
  font-weight: 800;
  color: #fff;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0;
}

.board-item-date {
  display: block;
  font-size: 11px;
  font-weight: 500;
  color: #848484;
  line-height: 1.55;
  letter-spacing: -0.33px;
}

.board-item {
  margin-bottom: 15px;
}

.board-item:last-child {
  margin-bottom: 0;
}

.telegram-id-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px;
  border-radius: 100px;
  background-color: #1c1c1c;
  width: 100%;
  border: 0;
  cursor: pointer;
}

.telegram-id-box:active, .telegram-id-box:focus {
  outline: none;
}

.telegram-id-box img {
  width: 41px;
  -o-object-fit: cover;
     object-fit: cover;
}

.telegram-id-text {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  line-height: 1.47;
  letter-spacing: normal;
  display: block;
  width: 100%;
  text-align: center;
}

.advertisement-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advertisement-item {
  margin-bottom: 10px;
}

.advertisement-item:last-child {
  margin-bottom: 0;
}

.advertisement-link {
  display: block;
  width: 100%;
  height: 62px;
  position: relative;
}

.advertisement-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-board-tab-item {
  color: #fff;
  opacity: 0.3;
}

.news-board-tab-item.active {
  color: #d5ac09;
  opacity: 1;
}

.news-board-title {
  display: block;
  margin: 0;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  font-size: 12px;
  color: #fff;
  font-weight: 800;
}

.news-board-tab {
  padding-top: 14px;
}

.news-board-tab .board-item {
  border-bottom: 1px solid #d5ac09;
  margin: 0;
}

.news-board-tab .board-item:last-child {
  border-bottom: 0;
}

.news-board-tab .board-link {
  padding: 0;
}

.news-board-tab .board-link::before {
  display: none;
}

.news-board-tab-wrap {
  padding-bottom: 12px;
}

.payment-list-wrap {
  margin-top: 17px;
  background-color: #1c1c1c;
  position: relative;
}

.payment-list-head {
  width: 100%;
  display: block;
  padding: 10px 24px;
  background-color: #daa12d;
  font-size: 13px;
  color: #fff;
  line-height: 1.46;
  letter-spacing: -0.39px;
  font-weight: 800;
}

.payment-list-box {
  padding: 17px 21px;
  position: relative;
}

.payment-list-box::after {
  content: '';
  display: block;
  left: 0;
  right: 0;
  margin: 0 20px;
  height: 1px;
  background-color: #5a5a5a;
  position: absolute;
  bottom: -5px;
}

.payment-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 130px;
  overflow: hidden;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
}

.payment-list::-webkit-scrollbar {
  width: 3px;
}

.payment-list::-webkit-scrollbar-track {
  background: #707070;
  border-radius: 100px;
}

.payment-list::-webkit-scrollbar-thumb {
  background: #f3f3f3;
  border-radius: 100px;
}

.payment-item {
  padding: 4px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-item > img {
  width: 51px;
  min-width: 51px;
  height: 51px;
  border-radius: 7px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.payment-item-info {
  padding-left: 16px;
  overflow: hidden;
}

.payment-item-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: -0.36px;
  font-weight: 800;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.payment-item-price {
  font-size: 12px;
  color: #fff;
  line-height: 1.5;
  letter-spacing: -0.36px;
  font-weight: 800;
}

.total-payment-box {
  padding: 15px 30px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total-payment-text {
  font-size: 13px;
  font-weight: 800;
  color: #fff;
  line-height: 1.46;
  letter-spacing: -0.39px;
  display: block;
}

.total-payment-price {
  font-size: 20px;
  font-weight: 800;
  color: #ffba2e;
  line-height: 1.45;
  letter-spacing: -0.6px;
  display: block;
}

.total-payment-btn {
  border-radius: 7px;
  background-color: #666;
  display: block;
  border: 0;
  width: 100%;
  text-align: center;
  padding: 10px 10px 9px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.16px;
  cursor: pointer;
}

.total-payment-btn.active {
  background-color: #ffba2e;
}

.total-payment-btn:active, .total-payment-btn:focus {
  outline: none;
}

.live-chatting-text-box {
  margin-top: 18px;
  width: 100%;
  border-radius: 100px;
  padding: 17px;
  text-align: center;
  background-color: #1c1c1c;
  border: 0;
  cursor: pointer;
}

.live-chatting-text-box:focus, .live-chatting-text-box:active {
  outline: none;
}

.live-chatting-text-item {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.16px;
}

.theme-content-flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  
  /* margin: 0 -48px; */

}

.theme-content-col {
  padding: 0 14px;
}

.col-side {
  width: 351px;
  transition: all 0.3s;
}



.col-center {
  max-width: calc(1920px);
  width: calc(100% - 700px);
}

@media screen and (max-width: 1200px) {
  .theme-content-inner {
    padding: 25px 10px;
  }
  
  .col-side {
    width: 335px;
  }
  .col-center {
    width: calc(100% - 670px);
  }
}

.payment-delete-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: 17px;
}

.payment-delete-btn > img {
  width: 15px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.payment-delete-btn:active, .payment-delete-btn:focus {
  outline: none;
}

.total-payment-btn-box {
  padding: 0 20px 16px;
}

.main-visual-banner-bottom .swiper-slide {
  width: auto;
  cursor: pointer;
}

.main-visual-banner-bottom .swiper-slide.swiper-slide-thumb-active {
  border: 1px solid #F24B3E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-visual-banner-bottom .swiper-slide img {
  width: 58px;
  height: 43px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-visual-slide-top-inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 30px 16px;
}

.main-visual-slide-top-inner-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.main-visual-slide-top-right {
  font-size: 13px;
  font-weight: 500;
  color: #aeaeae;
}

.main-visual-sub-info-list {
  font-size: 14px;
  color: #aeaeae;
  font-weight: 500;
  margin-bottom: 7px;
}

.main-visual-sub-label {
  display: block;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ffba2e;
  padding: 3px 6px 2px;
  color: #ffba2e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.information-inner-box-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 20px;
}

.information-inner-box-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px 9px;
  background-color: #f8f8f8;
  border-top: 1px solid #aeaeae;
}

.information-left-list {
  list-style: none;
  margin: 0 -5px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information-left-item img {
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}

.information-left-text {
  font-size: 14px;
  color: #1c1c1c;
  font-weight: 600;
  margin-top: 3px;
}

.main-visual-bottom-information-box {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.information-right--text {
  font-size: 13px;
  color: #aeaeae;
  font-weight: 500;
  margin-right: 10px;
  white-space: nowrap;
}

.information-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-price-text {
  font-size: 16px;
  color: #F24B3E;
  font-weight: 800;
  margin: 0 13px 0 0;
  white-space: nowrap;
}

.btn-service-application {
  width: 100%;
  
  border-radius: 100px;
  padding: 13px 48px 12px;
  text-align: center;
  color: #fff;
  font-weight: 800;
  background-color: #F24B3E;
  border: 0;
  white-space: nowrap;
  cursor: pointer;
}

.btn-service-application:active, .btn-service-application:focus {
  outline: none;
}

.information-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 -2px;
  list-style: none;
}

.information-btn-list.right .information-btn {
  padding: 5px 34px 3px;
}

.information-btn-item {
  padding: 0 2px;
}

.information-btn {
  border: 1px solid #aeaeae;
  background-color: #fff;
  padding: 5px 6px 3px;
  text-align: center;
  font-size: 13px;
  color: #1c1c1c;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
}

.information-btn:focus, .information-btn:active {
  outline: none;
}

.information-left-item-btn {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.information-left-item-btn:active, .information-left-item-btn:focus {
  outline: none;
}

/*# sourceMappingURL=index.css.map */
